.divcorpo {
    text-align: center;
}

.input1 {
    inline-size:350px
}



.observacoes {
    width:350px;
    height:100px;
    border:3px solid black;
    padding:10px;
    text-align: justify;   
}


